.cheatsheet
  %h1= @cheatsheet.title
  = render partial: "keyboards/k#{@cheatsheet.layout}"
  .groups
    .ctl
      %a.op.add
        %i.icon-plus
  
- content_for :scripts do
  :coffeescript
    $ -> init_cheatsheet()