.keyboard
  .row#r1
    .key#k_esc Esc
    .key#k_f1 F1
    .key#k_f2 F2
    .key#k_f3 F3
    .key#k_f4 F4
    .key#k_f5 F5
    .key#k_f6 F6
    .key#k_f7 F7
    .key#k_f8 F8
    .key#k_f9 F9
    .key#k_f10 F10
    .key#k_f11 F11
    .key#k_f12 F12

  .row#r2
    .key#k_t `
    .key#k_n1 1
    .key#k_n2 2
    .key#k_n3 3
    .key#k_n4 4
    .key#k_n5 5
    .key#k_n6 6
    .key#k_n7 7
    .key#k_n8 8
    .key#k_n9 9
    .key#k_n0 0
    .key#k_minus -
    .key#k_add +
    .key#k_backspace <-

  .row#r3
    .key#k_tab Tab
    .key#k_q q
    .key#k_w w
    .key#k_e e
    .key#k_r r
    .key#k_t t
    .key#k_y y
    .key#k_u u
    .key#k_i i
    .key#k_o o
    .key#k_p p
    .key#k_prev [
    .key#k_next ]

  .row#r4
    .key#k_caps Lock
    .key#k_a a
    .key#k_s s
    .key#k_d d
    .key#k_f f
    .key#k_g g
    .key#k_h h
    .key#k_j j
    .key#k_k k
    .key#k_l l
    .key#k_semicolon ;
    .key#k_quote '
    .key#k_return Return

  .row#r5
    .key#k_shift Shift
    .key#k_z z
    .key#k_x x
    .key#k_c c
    .key#k_v v
    .key#k_b b
    .key#k_n n
    .key#k_m m
    .key ,
    .key .
    .key /
    .key#k_shift Shift

  .row#r6
    .key#k_fn fn
    .key#k_ctrl Ctrl
    .key#k_alt Alt
    .key#k_command ⌘
    .key#k_space Space
    .key#k_command ⌘
    .key#k_alt Alt


    